.container {
  border: 1px solid red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > h1 {
    border: 1px solid blue;
  }

  .books-container {
    .head {
      border: 1px solid blue;

      .headers {
        display: flex;
        gap: 20px;

        >p {
          width: 100px;
        }
      }

      > form {
        display: flex;
        gap: 20px;

        .filter {
          width: 100px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-inline: 5px;
          border: 1px solid lightblue;

          > input {
            width: 50%;
          }
        }
      }
    }

    .books {
         
      .book {
        border: 1px solid green;
        display: flex;
        gap: 20px;
        
        > p {
          width: 100px;
          overflow: hidden;
          text-wrap: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}